<% if current_whiner %>
      <div class="logged_banner white_link logged_in">
        <div id="logo_block" class="logo_cell"><h2><%= link_to "Querulous", root_path %></h2></div>
        <%= link_to 'Log out', session_path, method: :delete, :class=>"text-right text-white btn btn-secondary text-white"  %>
        <div class="btn btn-primary">Welcome, <%= current_whiner.username %></div>
      </div>
    <% else %>
      <div class="logged_banner white_link logged_out">
        <div id="logo_block" class="logo_cell"><h2><%= link_to "Querulous", root_path %></h2></div>
        <%= link_to 'Sign Up', new_whiner_path, { :class=>"text-right text-white btn btn-secondary text-white"} %> | 
        <%= link_to 'Log In', new_session_path, { :class=>"text-right text-white btn btn-secondary text-white"} %>
      </div>
    <% end %>