<div class="breadcrumbs"><%= link_to "Home", root_path %> > <%= link_to "Whiners index", whiners_path %> > Whiner:</div>
<%if notice %>
<p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>
<div id="body_container" class="body_wrapper whindex_wrapper">
    <div class="card" style="width: 18rem;">
        <% if @whiner.avatar.attached? %>
            <%= image_tag @whiner.avatar, :class => "card-img-top" %>
        <% end %>
        <div class="card-body">
            <h5 class="card-title"><%= @whiner.username %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= @whiner.name %></h6>
            <p class="card-text">Whining since: <%= @whiner.created_at.strftime("%m-%d-%Y") %></p>
        </div>
    </div>
    <div class="">
</div>